* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(255, 227, 215, 255);
    padding: 10px 0 0 20px;
    /* border: 1px solid red; */
}
header {
    padding-bottom: 10px;
}
p {
    padding-bottom: 10px;
}
table, th, td {
    width: 500px;
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
    margin-bottom: 20px;
}
button {
    padding: 8px 15px;
    background-color: #bdea61;
    border: none;
    color: black;
    font-weight: 700;
    font-size: .8rem;
    border-radius: 8px;
}